# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.gamee.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Ethan Jao\Downloads\basic-platformer-master\gamee\.idea\.idea.gamee\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
